@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

@font-face {
 font-family: "Open Sans";
 src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2"),
      url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
 font-weight: 500;
 font-style: normal;
}
.fontlist{
	list-style: none;
}
h2{
	font-family: "Open Sans", Arial, Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}
.re{
  font-family: 'Roboto Flex', sans-serif;
}
.simple{
	font-family:Avantgarde;
	font-style: 200px;
	font-weight: bolder;
	font-style: normal;
	/*text-decoration: line-through;*/
	letter-spacing: -1px;
	/*text-shadow: green 0 0 1px;*/
	text-transform: capitalize;
}

.comp{
	font-size: 20px;
}

.comp span{
	/*width: 60%;*/
	font-style: 0.5em;

}
.more{
	font-size: 2vw;
}