.border{
    border:  20px solid rgb(170, 48, 195);
    border-radius: 30px;
}
.asd{
    border:  2px solid rgb(153, 207, 207);
    border-radius: 30px;
    background: #009688;
    font-size: 24px;
    color: #fff;
}